# Extract

In [7]:
import requests
url = "http://ixa2.si.ehu.es/stswiki/images/4/48/Stsbenchmark.tar.gz"
r = requests.get(url, allow_redirects=True)
open('./data/STSbenchmark.tar.gz', 'wb').write(r.content)

409630

In [8]:
import tarfile
file = tarfile.open('./data/STSbenchmark.tar.gz')
file.extractall('./data/STSbenchmark')

# Transform

In [9]:
import pandas as pd

In [26]:
stsb = pd.read_csv("./data/STSbenchmark/stsbenchmark/sts-test.csv", sep="\t", names=["Genre", "Filename", "Dataset", "Year", "Score", "Sentece1", "Sentece2"], on_bad_lines="skip", engine='python')

In [24]:
stsb

,Genre,Filename,Dataset,Year,Score,Sentece1,Sentece2
0,main-captions,MSRvid,2012test,24,2.50,A girl is styling her hair.,A girl is brushing her hair.
1,main-captions,MSRvid,2012test,33,3.60,A group of men play soccer on the beach.,A group of boys are playing soccer on the beach.
2,main-captions,MSRvid,2012test,45,5.00,One woman is measuring another woman's ankle.,A woman measures another woman's ankle.
3,main-captions,MSRvid,2012test,63,4.20,A man is cutting up a cucumber.,A man is slicing a cucumber.
4,main-captions,MSRvid,2012test,66,1.50,A man is playing a harp.,A man is playing a keyboard.
...,...,...,...,...,...,...,...
837,main-news,MSRpar,2012train,657,4.00,So in his State of the Union address in Januar...,"In his Jan. 28 State of the Union message, Bus..."
838,main-news,MSRpar,2012train,666,4.00,The other 24 members are split between represe...,Of the 24 directors who are not exchange execu...
839,main-news,MSRpar,2012train,669,2.75,The Episcopal Diocese of Central Florida becam...,The Episcopal Diocese of Central Florida voted...
840,main-news,MSRpar,NaN,679,2.25,McGill also detailed the hole that had been cu...,McGill also said a dark glove was stuffed into...
841,main-news,MSRpar,2012train,693,3.20,That compared with a year-earlier profit of $1...,"That was more than double the $102 million, or..."

In [25]:
stsb.to_csv("./data/dataset.csv")

In [29]:
stsb[["Score", "Sentece1", "Sentece2"]]

,Score,Sentece1,Sentece2
0,2.50,A girl is styling her hair.,A girl is brushing her hair.
1,3.60,A group of men play soccer on the beach.,A group of boys are playing soccer on the beach.
2,5.00,One woman is measuring another woman's ankle.,A woman measures another woman's ankle.
3,4.20,A man is cutting up a cucumber.,A man is slicing a cucumber.
4,1.50,A man is playing a harp.,A man is playing a keyboard.
...,...,...,...
837,4.00,So in his State of the Union address in Januar...,"In his Jan. 28 State of the Union message, Bus..."
838,4.00,The other 24 members are split between represe...,Of the 24 directors who are not exchange execu...
839,2.75,The Episcopal Diocese of Central Florida becam...,The Episcopal Diocese of Central Florida voted...
840,2.25,McGill also detailed the hole that had been cu...,McGill also said a dark glove was stuffed into...
841,3.20,That compared with a year-earlier profit of $1...,"That was more than double the $102 million, or..."

In [30]:
stsb[["Score", "Sentece1", "Sentece2"]].to_csv("./data/focus_dataset.csv")